## Submit 2 examples for each module.
1. while loop
2. for loop
3. if else
4. if elif else
5. user defined functions without for loop, if condition
6. user defined functions with for loop
7. user defined functions with for loop and if condition
8. break
9. continue
10. for loop with in operator
11. for loop with if statement
12. for loop with not in operator
10. if with in operator
11. if with not in opearator                              
12. DAILY TASK - 3 Come up with one example for all Data Structures.
13.  DAILY TASK - 4 List Comprehension

## While loop

In [2]:
count=1
while count<=5:
    print(count)
    count+=1

1
2
3
4
5

In [6]:
data=False
while not data:
    age=input("enter the age : ")
    if age.isdigit() and 0<int(age)<=120:
        print(f"valid age entered:{age}")
        data=True
    else:
        print("Invalid age.Please entere a valid age between 1 to 120")

enter the age : 134
Invalid age.Please entere a valid age between 1 to 120
enter the age : 136
Invalid age.Please entere a valid age between 1 to 120
enter the age : dfggggg
Invalid age.Please entere a valid age between 1 to 120
enter the age : 11
valid age entered:11

# For loop

In [12]:
my_loop="chandan","kumar"
for i in my_loop:
    print(i)

chandan
kumar

In [13]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

# IF ELSE statement

In [17]:
x=100
if x>30:
    print("x is greater than 30")
else:
    print("x is not greater than 30")

x is greater than 30

In [18]:
# to find out the given number is odd or even

In [23]:
num= int(input("enter a number "))
if num %2 ==0:
    print(f"{num} is even number")
else:
    print(f"{num} is odd number")

enter a number 4
4 is even number

In [26]:
user_name="chandan"
pasword="chandan@123"

user=input("enter valid user name:" )
password= input("enter valid password : " )

if user==user_name and password==pasword:
    print("login successfully")
else:
    print("incorrect username or password")

enter valid user name:chandan
enter valid password : chandan@123
login successfully

# If elif else statement

In [28]:
#marks 
score=int(input("enter the score "))
if score>=95:
    grade="A"
elif score>=75:
    grade="B"
elif score >=60:
    grade="C"
elif score >=35:
    grade= "JUST PASS"
else:
    grade="FAIL"
print(f"The student grade is {grade}")

enter the score 12
The student grade is FAIL

# user defined functions without for loop, if condition

In [29]:
def tasks(name,age,state):
    print("name:",name)
    print("age:",age)
    print("state:",state)
tasks("chandan",34,"karnataka")

name: chandan
age: 34
state: karnataka

In [30]:
def world_cup(team,win,loss):
    print("team:",team)
    print("win:",win)
    print("loss:",loss)
world_cup("INDIA",9,0)

team: INDIA
win: 9
loss: 0

# user defined functions with for loop and if else statement

In [34]:
def prime_numbers(number):
    if number <=1:
        return False
    for i in range(2,int(number ** 0.5)+1):
        if number % i==0:
            return False
    return True
num=int(input("enter the number: "))
if prime_numbers(num):
     print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

enter the number: 7
7 is a prime number

In [38]:
def calculate_factorial(n):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial
result = int(input("Enter the number: "))  
fact_result = calculate_factorial(result)
print(f"The factorial of {result} is {fact_result}")

Enter the number: 7
The factorial of 7 is 5040

# break and continue

In [39]:
# Using break to exit the loop early
for i in range(1, 11):
    if i == 5:
        break 
    print(i)

1
2
3
4

In [41]:
# Using continue to skip an iteration
for i in range(1, 11):
    if i % 2 != 0:
        continue 
    print(i)

2
4
6
8
10

# for loop with in operator

In [42]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [43]:
message = "Hello!"
for char in message:
    print(char)

H
e
l
l
o
!

# for loop with if statement

In [44]:
numbers = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

print("Numbers less than 5:")
for num in numbers:
    if num < 5:
        print(num)

Numbers less than 5:
1
3
2
4

In [45]:
print("Even numbers from 1 to 10:")
for i in range(1, 11):
    if i % 2 == 0:  
        print(i)

Even numbers from 1 to 10:
2
4
6
8
10

# for loop with not in operator

In [46]:
word = "hello"
vowels = 'aeiou'

print("Consonants in the word 'hello':")
for letter in word:
    if letter not in vowels:
        print(letter)

Consonants in the word 'hello':
h
l
l

# LIST

In [47]:
my_list = [1, 2, 3, 4, 5]

print("Filtering elements in a list:")
for item in my_list:
    if item not in [2, 4]:

Filtering elements in a list:
1
3
5

# TUPLE

In [48]:
my_tuple = (5, 6, 7, 8, 9)

print("Filtering elements in a tuple:")
for val in my_tuple:
    if val not in (6, 8):  # Filter out elements 6 and 8
        print(val)

Filtering elements in a tuple:
5
7
9

# SETS

In [49]:
my_set = {10, 20, 30, 40, 50}

print("Filtering elements in a set:")
for element in my_set:
    if element not in {10, 50}:  # Filter out elements 10 and 50
        print(element)

Filtering elements in a set:
20
40
30

# Dictionaries

In [50]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

print("Filtering elements in a dictionary (keys):")
for key in my_dict:
    if key not in ['b', 'd']:  # Filter out keys 'b' and 'd'
        print(key)

Filtering elements in a dictionary (keys):
a
c
e

In [51]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

print("Filtering elements in a dictionary (values):")
for value in my_dict.values():
    if value not in [2, 4]:  # Filter out values 2 and 4
        print(value)

Filtering elements in a dictionary (values):
1
3
5

#  List Comprehension

In [ ]:
# suppose you want to make a new list where each number is replaced by its square.
#Instead of using a loop, you can do this using list comprehension, which is like a shortcut in Python.

In [52]:
original_list = [1, 2, 3, 4, 5]
squared_list = []  
for num in original_list:  
    squared_list.append(num ** 2)  

print(squared_list)

[1, 4, 9, 16, 25]

In [53]:
original_list = [1, 2, 3, 4, 5]
squared_list = [num ** 2 for num in original_list]
print(squared_list)

[1, 4, 9, 16, 25]